# Variáveis para docker-compose.yml (gere segredos com: openssl rand -hex 32)
PUBLIC_URL=https://exame.clinicaolhar.com.br
ADMIN_URL=https://gestao.clinicaolhar.com.br
DB_OWNER_PASSWORD=
PUBLIC_DB_PASSWORD=
ADMIN_SESSION_SECRET=
PUBLIC_SESSION_SECRET=
ADMIN_EMAIL=
ADMIN_INITIAL_PASSWORD=
# Camada extra do painel (ao menos uma)
ADMIN_ALLOWED_IPS=
ADMIN_GATE_USER=
ADMIN_GATE_PASSWORD=
ADMIN_CF_ACCESS_TEAM_DOMAIN=
ADMIN_CF_ACCESS_AUD=
# Meta
META_CAPI_ACCESS_TOKEN=
META_TEST_EVENT_CODE=
